/* h2, section.start-quiz p, #start-button {
    text-align: center;
} */

.row {
    display: flex;
    align-items: flex-center;
}

.title-container {
    width: 30%;
    /* background-color: red; */
    text-align: center;
}

.timer-container {
    width: 70%;
    /* background-color: yellow; */
    text-align: right;
}


div.get-started {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#start-button {
    max-width: 25%;
}

/* For the div with the questions and the result (correct or incorrect) - will start with display:none */
div.questions, div.result-display {
    display: none;
}

/* For the column of buttons that are the answer choices */
/* From https://www.w3schools.com/howto/howto_css_button_group_vertical.asp */
div.btn-group button {
    background-color: green;
    border: 1px solid black;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 50%;
    display: block;
}

div.btn-group button:hover {
    background-color: greenyellow;
}

