/* h2, section.start-quiz p, #start-button {
    text-align: center;
} */
section.start-quiz

.row {
    display: flex;
    align-items: flex-center;
}

.title-container {
    width: 30%;
    /* background-color: red; */
    text-align: center;
}

.timer-container {
    width: 70%;
    /* background-color: yellow; */
    text-align: right;
}

div.get-started {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#start-button {
    max-width: 25%;
}